body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3498db;
    color: #ecf0f1;
}

header {
    background-image: url(https://t3.ftcdn.net/jpg/06/17/08/62/360_F_617086272_rDe3izCcKb9wZlvm462Myd17uwLdqUNU.jpg);
    background-size: cover; 
    padding: 1em;
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-image: url(https://static.zoonar.com/img/www_repository3/80/65/0a/10_8a14954f620b45a781d497aab06a1913.jpg);
    background-size: cover;
    padding: 1em;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color:
     #34495e;
}

section {
    display: none;
    padding: 1em;
}

h2 {
    color: #ecf0f1;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #a500f1;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Added styles for job titles in the Apply section */
form div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

form div input {
    flex: 1;
}

form div label {
    flex: 2;
    margin-left: 10px;
}

/* Styles for modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #001f3f; /* Dark blue text color */
}

/* Styles for error message popup */
.error-popup {
    display: none;
    background-color: #ffcccc; /* Light red background color */
    color: #990000; /* Dark red text color */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Styles for the benefits section */
#benefits ul {
    list-style-type: disc;
    margin-left: 20px;
}

.bigger-text {
font-size: 20px; }

.bigger-text2 {
font-size: 19px; }
  
.custom-font {
font-family: 'Fantasy';
font-size: 25px;
  }

.custom-font2 {
font-family: 'Lucida Console'
  }

.custom-style {
font-family: 'Times New Roman'; 
font-size:25px; 
  }

.benefits-specific {
    font-family: 'Fantasy'; 
    font-size:35px; 
    text-align: center;
      }
.atoverflux-specific {
    font-family: 'Fantasy'; 
    font-size:25px; 
    text-align: center;
          }
.webelieve-specific {
        font-family: 'Times New Roman'; 
        font-size:25px; 
        text-align: center;
                  }